*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
  background-color: rgb(233, 217, 217);
}

.head-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(247, 245, 245);

  
}
.head2{
  
align-items: start;

}
#input{
margin-left: 0px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.head3 select:hover{

  
  background-color: rgb(55, 55, 198);
}

.head3 select{
 padding: 5px; 
width: 140px;
border: none;
text-align: center;
border-radius: 3px;
 font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.head3{

  display: flex;
  color: rgb(23, 25, 26);

  justify-content: space-between;
gap: 80px;
margin-right: 40px;
}
i{
  margin-right: 10px;
  color: rgb(49, 43, 43);
}
.head3 a{
  text-decoration: none;
  font-weight: 800;
  color: rgb(15, 16, 16);
}

.head-bar2{
  
  display: flex;
  justify-content: space-evenly;
 background-color: rgb(247, 245, 245);
height: 120px;
margin: 10px 0px ;
}

.para{
color: rgb(17, 17, 17);
font-size: larger;

}
.head-bar2 a{
text-decoration: none;
margin-top: 30px;
font-size: larger;

}

.banner{
  display: flex;
  justify-content: space-between;
margin: 10px 0px ;
  height: 300px;
 

}
.banner-ch img{
width: 100%;
  height: 300px;
}
.top-deals{
  display: flex;
  justify-content: space-between;

  height: 300px;
}
.top-deals h3{
margin: 10px 0px;
color: rgb(33, 23, 23);
  font-size:xx-large;


}
.top-deals img{
width: 200px;
margin: 30px 20px;
  height: 150px;
 
}
.middle{
  height: 40px;
  font-weight: 300;
  margin: 20px 0px 0px ;
  font-size: larger;
  background-color: rgb(252, 255, 252);
  text-align: center;


}
.middle h3{
  margin-left: 60px;
  margin-top: 20px;
}
.top-deals a{

  text-decoration: none;
  text-align: center;
  color: rgb(4, 5, 5);
}

.footer{
color: rgb(224, 219, 221);
  display: flex;
  height: 350px;
  background-color: rgb(45, 43, 43);
  justify-content: space-around;
  font-size: medium;
  line-height: 1.4;
}

.footer a{

  text-decoration: none;
  color: azure;
}
.footer ul{
  margin-top: 30px;
  list-style: none;
} 


#ww{
   margin-top: 30px;
  color: aliceblue;

}
.footer6 a{
  color: aliceblue;
  text-decoration: none;
}

.social{
  margin-top: 19px;
}
.social p{
color: rgb(104, 103, 102);

}
.social i{

margin: 20px 10px;
}

#tel{
  color: blue;
}
#top{
  margin-top: 30px;
}

.last{
  display: flex;
  background-color: rgb(45, 43, 43);
  justify-content: space-between;
  border-top: 1px solid rgb(104, 103, 102);
  height: 100px;
  
  align-items: center;
}
.last1{

  margin-left: 30px;
}
.last2{
  margin-right: 30px;
}

.last1 a{
 
display: contents;
justify-content: space-between;
  text-decoration: none;
 color: rgb(142, 145, 147);
 font-size: medium;
 
}
.last1 i{
  height: 1px;
}